/* RESET BODY */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1a238c, #f29900);
    margin: 0;
    padding: 0;
}

/* LOGIN BOX */
.login-box {
    width: 320px;
    margin: 100px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

.error {
    color: red;
    font-size: 14px;
}

/* SIDEBAR */
.sidebar {
    width: 70px;
    height: 100vh;
    background: #2c3e50;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* EXPAND */
.sidebar:hover,
.sidebar.active {
    width: 220px;
}

/* TOGGLE BUTTON */
.toggle-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin: 15px 10px;
    cursor: pointer;
}

/* MENU */
.sidebar ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

/* LINK */
.sidebar ul li a {
    display: flex;
    align-items: center;
    justify-content: center; /* center saat shrink */
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

/* ICON */
.sidebar ul li a span:first-child {
    width: 40px;              /* FIX: kolom tetap */
    text-align: center;
    font-size: 18px;
}

/* TEXT */
.sidebar ul li a .text {
    margin-left: 10px;
    white-space: nowrap;
}

/* TEXT HIDDEN */
.sidebar .text {
    display: none;
}

/* SAAT EXPAND */
.sidebar:hover ul li a,
.sidebar.active ul li a {
    justify-content: flex-start;
    padding-left: 15px;
}

/* SHOW TEXT */
.sidebar:hover .text,
.sidebar.active .text {
    display: inline;
}

/* HOVER */
.sidebar ul li a:hover {
    background: #3498db;
}

/* MAIN */
.main {
    margin-left: 70px;
    width: calc(100% - 130px);
    padding: 20px;
    transition: all 0.3s ease;
}

/* SHIFT CONTENT */
.sidebar:hover ~ .main,
.sidebar.active ~ .main {
    margin-left: 220px;
    width: calc(100% - 220px);
}

/* HEADER */
.header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    padding-right: 50px;
}

.header img {
    width: 80px;
}

/* CARD */
.content-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-right: 50px;
}

.content-card p{
    text-align: center;
}